.behavioral-cards{
    background-color: #323443;
    width: 45%;
    height: 200px;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    text-align: left;
    display: inline-table;
    
}
.btn-card {
    background-color: #3C3C43;
    border: none;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 70px;
    font-size: 10px;
    float: right;
}
.h1-card {
    font-size: 24px;
    margin-bottom: 20px;
}
.p-card{
    font-size: 18px;
}