.dropdown{
    width: 100%;
}
.dropdown-menu{
    background-color: rgb(130, 128, 128);
    margin: 50px 0px 0px ;
}
.blind75-question{
    padding: 15px;
    cursor: pointer;
}
.leetcode-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}