.main-contain {
  background-color: #242424;
  color: white;
  width: 80%;
  min-height: 100vh;
  height: 100vh;
  float: right;
  padding: 2%;
}

.heading {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.middle {
  display: inline-block;
}

.right {
  float: right;
}

.profile-img {
  background-color: #85cdfd;
  height: 20px;
  color: #85cdfd;
}

.greeting {
  margin: 3% 0%;
}

.board-columns {
  display: flex;
  /*overflow-x: auto;*/
}

.board-columns::-webkit-scrollbar {
  background: #242424;
  height: 5px;
  display: none;
}

.board-columns::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
  background-clip: padding-box;
}
.icons-columns{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 125px;
  position: fixed;
}