.main-contain {
  background-color: #242424;
  color: white;
  width: 80%;
  min-height: 100vh;
  height: 100vh;
  float: right;
  padding: 2%;
}

.heading {
  vertical-align: middle;
  margin-top: 10px;
}

.middle {
  display: flex;
  justify-content: center;  
}

.right {
  float: right;
  text-decoration: none;
  margin-top: 10px;
}

.initial-container{
  top: 7px;
  position: relative;
  right: -110px;
  background-image: linear-gradient(to bottom right, purple,  rgb(119, 119, 225), aqua);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.profile-initial {
  text-align: center;
  font-size: 25px;
  right: 2px;
  bottom: -3px;
  font-weight: bolder;
  color: white;
  position: relative;
}

.greeting {
  margin-top: 30px;
  margin-left: 10px;
}

.board-columns {
  display: flex;
  margin-top: 40px;
  /*overflow-x: auto;*/
}

.board-columns::-webkit-scrollbar {
  background: #242424;
  height: 5px;
  display: none;
}

.board-columns::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
  background-clip: padding-box;
}
.icons-columns{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 125px;
  position: fixed;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 2;
}

.userN-headingright{
  position: relative;

  top: 4px;
}

.userInfo{
  display: flex;
  flex-direction: column;
  column-gap: 3% ;
  width: auto;
  height: 40px;
  position: relative;
  align-content: flex-start;
  justify-content: flex-start;
  color: white;
  right: 80px;
  top: -35px;
}

.userE-headingright{
  position: relative;
  top: -12px;
  opacity: 60%;
}

/* .userInfo,.profile-initial{
  display: flexbox;
} */

.bell-headingright{
  position: relative;
  bottom: 87px;
  right: 130px;
  cursor: pointer;
}

.door-headingright{
  position: relative;
  bottom: 123px;
  margin-left: 180px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
}

.door-headingright:hover {
  filter:drop-shadow(0px 0px 5px white)
}

.heading-right-container{
  position: fixed;
  height: auto;
  width: auto;
  position: relative;
  top:-50px;
}