nav {
  display: flex;
  align-items: center;
  height: 13vh;
  width: 100%;
  position: absolute;
  font-size: 22px;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 65px;
  height: 65px;
}

#letters {
  width: 140px;
  height: 60px;
}

nav li {
  display: inline-block;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 32rem;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  opacity: 0.5;
}
.relative{
  position: relative;
}
