.category-column {
  display: inline-block;
  margin: 10px 21px 10px 6px;
  font-weight: bold;
}

.category-heading {
  height: 110px;
  border-radius: 10px;
  font-weight: bold;
}

.category-heading p {
  padding-left: 7%;
  padding-top: 6%;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.category-heading h1 {
  float: right;
  color: white;
  padding-right: 10%;
  font-size: 50px;
}

.category-contain {
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.column-name {
  padding: 3% 0% 3% 5%;
  font-size: 15px;
  display: inline-block;
}

.items-container {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.items-container::-webkit-scrollbar {
  background: #242424;
  width: 4px;
}

.items-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
  background-clip: padding-box;
}

.category-btn {
  background-color: #242424;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float: right;
  padding-right: 8%;
  font-weight: bold;
  color: whitesmoke;
  border-style: none;
  font-size: 25px;
  padding-left: 3%;
  border-radius: 50%;
}

.category-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
