.jobs{
    background-color: #272727;
    /* height: 100vh; */
    color: white;
}
.jobs-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 110px;
}
.jobs-heading-text{
    margin: 80px;
}
.jobs-heading-img{
    height: 370px;
    width: 29%;
}
.jobs-heading-main{
    font-size: 50px;
    margin-bottom: 70px;
}
.jobs-heading-body{
    font-size: 22px;
}


/* job section body */
.find-job-section{
    width: 80%;
    margin: auto;
    display: flex;
}
.job-search{
    background-color: #323443;
    height: 50px;
    border-radius: 5px;
    width: 80%;
    margin: auto auto 40px auto;
}
.search-item{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 340px;
    font-size: 20px;
    padding-left: 25px;
    color: white;
}
.job-position{
    width: 620px;
} 
.job-search-btn{
    height: 50px;
    font-size: 17px;
    width: 115px;
    background-color: #2196f3;
    border: none;
    color: white;
    float: right;
    border-radius: 5px;
    font-weight: bolder;
}

.job-filter{
    width: 20%;
    padding: 7px 25px;
}
.job-filter-title{
    font-size: 25px;
}
.filter-section{
    margin-left: 10px;
}
.filter-title{
    font-size: 20px;
    margin: 10px 0px;
}
.filter-checkbox{
    padding: 4px;
    margin-left: 10px;
}

.open-jobs{
    width: 55%;
}
.open-jobs-title{
    display: flex;
    justify-content: space-between
}
.filter-by{
    background-color: #323443;
    border: solid .1px whitesmoke;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 40px;
    width: 30%;
}

.company{
    display: flex;
    background-color: #323443;
    margin-top: 10px;
    border-radius: 5px;
}
.company-logo{
    height: 100px;
    width: 20%;
    margin: auto 20px;
}
.company-info{
    margin: 20px;
    width: 80%;
    padding: 0;
}
.job-title{
    font-size: 25px;
    font-weight: 700;
    margin: 3px;
}
.job-flex{
    display: flex;
    justify-content:space-between;
    margin: 9px 0px;
}
.job-next-pages{
    margin: 40px;
    text-align: center;
}
.next-page{
    margin: 5px;
    height: 40px;
    width: 40px;
    font-weight: 700;
    background-color: #323443;
    border: none;
    color: white;
}
.next-page:active{
    background-color: #2196f3;
    color: black;
}

/*  */
.subcribe{
    width: 18%;
    margin: 40px 30px;
}
.subcribe-box{
    background-color: #323443;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
}
.subcribe-title{
    font-weight: 900;
    margin-bottom: 3%;
}
.subcribe-boby{
    color: rgb(220, 217, 217);
    font-size: 12px;
}
.get-email{
    background-color: transparent;
    border: solid .5px rgb(0, 0, 0);
    height: 25px;
    padding-left: 15px;
    margin: 5px 0px;
    border-radius: 5px;
}
.subcribe-btn{
    width: 80%;
    height: 30px;
    margin: 4% 8%;
    background-color: #2196f3;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 900;
}
.subcribe-btn:active{
    background-color: white;
    color: #2196f3;
}