.jobs{
    background-color: #272727;
    /* height: 100vh; */
    color: white;
}
.jobs-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 110px;
}
.jobs-heading-text{
    margin: 80px;
}
.jobs-heading-img{
    height: 370px;
    width: 29%;
}
.jobs-heading-main{
    font-size: 50px;
    margin-bottom: 70px;
}
.jobs-heading-body{
    font-size: 22px;
}


/* job section body */
.find-job-section{
    width: 80%;
    margin: auto;
    display: flex;
}
.job-search{
    background-color: #323443;
    height: 50px;
    border-radius: 5px;
    width: 80%;
    margin: auto auto 40px auto;
}
.search-item{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 340px;
    font-size: 20px;
    padding-left: 25px;
    color: white;
}
.job-position{
    width: 620px;
} 
.job-search-btn{
    height: 50px;
    font-size: 17px;
    width: 115px;
    background-color: #2196f3;
    border: none;
    color: white;
    float: right;
    border-radius: 5px;
    font-weight: bolder;
}

.job-filter{
    width: 20%;
    padding: 10px 25px;
}
.filter-title{
    margin: 15px 0px;
}
.open-jobs{
    width: 55%;
}
.company{
    display: flex;
    background-color: #323443;
    margin-top: 10px;
    border-radius: 5px;
}
.company-logo{
    height: 100px;
    width: 20%;
    margin: auto 20px;
}
.company-info{
    margin: 20px;
    width: 80%;
    padding: 0;
}
.job-title{
    font-size: 25px;
    font-weight: 700;
    margin: 3px;
}
.job-flex{
    display: flex;
    justify-content:space-between;
    margin: 9px 0px;
}
.job-next-pages{
    margin: 40px;
    text-align: center;
}
.next-page{
    margin: 5px;
    height: 40px;
    width: 40px;
    font-weight: 700;
    background-color: #323443;
    border: none;
    color: white;
}
.next-page:active{
    background-color: #2196f3;
    color: black;
}