.resources{
    background-color: #272727;
    min-height: 100vh;
}
.content {
    padding-top: 100px;
    padding-left: 20px;
    color: white;
}
.strong{
    height:425px;
    width:425px;
    margin-left: 100px;
}
.contenttext{
    width: 50%;
    float:right;
    text-align: center;
    margin-right: 100px;
    padding-top: 80px;
    font-size: 24px;
}
.contenth1{
    font-size: 60px;
    margin-bottom: 50px;
}
.resource-icon{
    height: 90px;
    width: 90px;
    margin: 0px 100px;

}
.resource-icons{
    margin-left: 300px;
    margin-top: 50px;
}