.main {
  min-height: 100vh;
  height: 100%;
  background: url("../../assets/background.png");
  color: white;
}

.landing-section {
  position: relative;
  width: 100%;
  height: 990px;
  display: flex;
}

.first-section {
  height: 100vh;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
}
