.home-page {
  min-height: 100vh;
  height: 100%;
  background: url("../../assets/background.png");
  color: white;
  background-size: cover;
  animation: fadeInAnimation ease-in-out 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Inria Sans";
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 70px 70px;
  text-align: center;
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro {
  margin-bottom: 90px;
  z-index: 1;
}

.cards {
  margin-bottom: 195px;
  width: 500px;
  height: 500px;
  z-index: 1;
  margin-left: 20px;
}

#title {
  font-size: 50px;
}

#description {
  margin: 50px 0px;
  font-size: 24px;
  color: #d3d3d3;
  font-family: 'IBM Plex Sans';
}

.sign-up-button {
  background: #ad54f2;
  border: none;
  padding: 18px;
  border-radius: 28px;
  width: 200px;
  color: white;
  font-size: 17px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'IBM Plex Sans';
}

.sign-up-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sign-up-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sign-up-button:hover span {
  padding-right: 25px;
}

.sign-up-button:hover span:after {
  opacity: 1;
  right: 0;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.landing-section {
  position: relative;
  width: 100%;
  height: 990px;
  display: flex;
}

.first-section {
  position: relative;
  bottom: 120px;
  width: 100%;
}

.first-section-content {
  margin-top: 140px;
}

.second-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.section-content p {
  color: #d3d3d3;
}

.third-section {
  position: relative;
  margin: 120px 0px 50px 0px;
  padding: 15px;
}

.section-content {
  text-align: center;
  width: 40%;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.section-title {
  margin: 20px 0px;
}

.dash-img {
  width: 55%;
  float: right;
}

.redired-link {
  text-decoration: none;
  color: rgb(0, 208, 255);
  float: right;
}

.second-section-imgs {
  height: 400px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
