@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inria Sans", sans-serif;
  color: white;
}

html {
  background: url("../../../public/assets/background.png");
}

.section {
  height: 100vh;
}
