.carousel {
  width: 100%;
  height: 600px;
  text-align: center;
}
.carousel-btn {
  top: 12px;
  font-size: 40px;
  color: white;
  font-weight: 900;
  border: none;
  background-color: transparent;
  padding: 0;
}

.right-btn {
  right: 400px;
}
.left-btn {
  left: 400px;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 360px;
  height: 300px;
  padding: 30px;
}
.black {
  width: 330px;
  height: 320px;
  background-color: black;
  z-index: -1;
  border-radius: 50px;
}
.purple {
  width: 360px;
  height: 300px;
  position: absolute;
  border-radius: 50px;
  background-color: blueviolet;
  z-index: -2;
}
.card-left {
  transform: translateX(-125%) scale(0.8) rotate(13deg);
  transition: 800ms;
  opacity: 0.3;
}
.card-right {
  transform: translateX(125%) scale(0.8) rotate(-13deg);
  transition: 800ms;
  opacity: 0.3;
}
.card-active {
  transition: 800ms;
}
.purple-card-left {
  position: absolute;
  top: 60px;
  left: 10px;
}
.purple-card-right {
  position: absolute;
  bottom: 60px;
  right: 15px;
}
.purple-active-card {
  transform: rotate(-30deg);
  position: absolute;
  top: 35px;
  width: 360px;
  height: 250px;
  border-radius: 140px 70px 122px 70px;
}
.black-active-card {
  position: absolute;
  transform: rotate(11deg);
  border-radius: 70px 149px 72px 122px;
}
.user-img {
  position: absolute;
  left: 132px;
  bottom: 250px;
  height: 90px;
}
.carousel-text {
  margin: 21px;
}
.user-name {
  font-size: 26px;
  margin-bottom: 14px;
}
.user-job-title {
  margin-bottom: 10px;
}
