nav {
  display: flex;
  align-items: center;
  height: 13vh;
  width: 100%;
  position: absolute;
  font-size: 22px;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  z-index: 1;
  font-family: "IBM Plex Sans";
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 65px;
  height: 65px;
}

#letters {
  width: 140px;
  height: 60px;
}

nav li {
  display: inline-block;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 32rem;
}

nav ul a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

nav ul a:hover {
  opacity: 0.5;
}

.relative {
  position: relative;
}

.burger-menu {
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: #1b1b1b;
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }
}
